.App {
  text-align: center;
}

body {
  background: linear-gradient(45deg, rgb(146, 32, 32), rgb(32, 32, 134));
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}

form {
  background: rgba(255,255,255,0.3);
  padding: 3em;
  height: fit-content;
  border-radius: 20px;
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  margin-top: 100%;
}
p {
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
  
 
  
  input {
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
    input:hover {
      background-color: rgba(255,255,255,0.1);
      box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
    }
    
    input[type="url"] :focus {
      background-color: rgba(255,255,255,0.1);
      box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
    }
      input[type="text"], input[type="password"], input[type="url"] :focus {
        background-color: rgba(255,255,255,0.1);
        box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
      }
   
    
    input[type="button"] {
      margin-top: 10px;
      width: 150px;
      font-size: 1rem;
    }
      input[type="button"]:hover {
        cursor: pointer;
      }
      
      input[type="button"]:active {
        background: rgba(255,255,255,0.2);
      }
    
  
/*   
  form:hover {
    margin: 4px;
  } */


::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

/* circles style */
.circle {
  background: rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
  position: absolute;
  transition: all 0.3s ease;
}
  .circle-1 {
    height: 80px;
    width: 80px;
    top: 30%;
    left: -40px;
    z-index: -1;
  }
  
  .circle-2 {
    height: 80px;
    width: 80px;
    bottom: 60%;
    right: 70%;
    z-index: -1;
  }
  
  .circle-3 {
    height: 100px;
    width: 100px;
    bottom: 60%;
    right: -50px;
    z-index: -1;
  }
  
  .circle-4 {
    height: 120px;
    width: 120px;
    top: 60%;
    right: -60px;
  }
  
  .circle-5 {
    height: 60px;
    width: 60px;
    bottom: 39%;
    left: 90px;
    z-index: -1;
  }


a,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* password section style */
.Passwords {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 13%;
}

.password {
  /* margin-top: 35%; */
  width: 400px;
  height: 70px;
  background: transparent;
  padding: 1em;
  margin-bottom: 2em;
  /* border: none; */
  border: 1px solid rgba(255,255,255,0.3);
  /* border-top: 1px solid rgba(255,255,255,0.3); */
  border-radius: 7px;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 20px;
 cursor: pointer; 
}

.password:hover {
  background-color: rgba(255,255,255,0.1);
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}